# Build files
ios/build/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
android/app/build/
build/

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/

# Submodules
readon-sync/

# Misc
.DS_Store
*.log
